/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fa;
  padding-top: 60px; /* Space for the fixed navbar */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1, h2 {
  color: #333;
  text-align: center;
}

/* AuthForm styles */
form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Set a fixed width for the form */
  margin: 0 auto;
}

input,
textarea {
  width: 90%; /* Ensures inputs take up the full width of the container */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #45a049;
}

/* Error message */
p {
  color: red;
  font-size: 14px;
}

/* PostForm styles */
form input,
form textarea {
  margin-bottom: 15px;
}

textarea {
  height: 150px;
}

/* PostList styles */
.post {
  background-color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.post h3 {
  margin: 0;
  color: #333;
}

.post p {
  color: #555;
}

.toast-container {
  position: fixed;
  top: 10px;
  right: 10px;
}



/* Navbar styles */
.navbar {
  background-color: #333;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for visual depth */
  display: flex;
  justify-content: center; /* Center the navbar content */
  align-items: center;
}

/* Navbar links container */
.navbar-links {
  display: flex;
  justify-content: space-evenly; /* Distribute the items evenly */
  width: 100%; /* Ensure links occupy full navbar width */
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Individual list item styling */
.navbar-links li {
  margin: 0;
}

/* Navbar link styles */
.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: block; /* Make the link a block element to support padding */
}

/* Hover effect on navbar links */
.navbar-link:hover {
  background-color: #555;
  color: #f4f7fa;
}

/* Active link styling */
.navbar-link.active {
  background-color: #4caf50;
  color: white;
}

/* Adjust navbar links for mobile */
@media screen and (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    align-items: center;
  }

  .navbar-links li {
    margin: 10px 0;
  }
}
